

.wp-block-button{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  width: auto;
  &__link{
    background-color: $primary;
    color: #fefefe;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-family: din-2014, sans-serif;
    font-size: 0.9rem;
    -webkit-appearance: none;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: #897a59;
      color: #fefefe;
    }
    
  }
  &.is-style-secondary{
    background: none;
  }
  &.is-style-secondary &__link{
    background-color: $secondary;
  }
  &.is-style-hollow &__link{
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
    &:hover{
      border-color: #514834;
      color: #514834;
    }

  }
  &.large &__link{
    font-size: 1.25rem;
  }
}