textarea{
  resize:none;
}
.form-select__blog{
  background: transparent;
  border: none;
  appearance: auto;
  width: auto;
  font-family: $font-family-sans-serif;
  margin-bottom: 1rem;
}
.contact-form{
  width: 75%;
  margin: auto;
}